<!DOCTYPE html>
<html lang="en">
	  <head>

		<meta charset="UTF-8">
		<title>ECE AST</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<style>
		    body    { padding-top:50px; }
		</style>

		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/bootstrap.min.js" /></script>

	  </head>
	<body class="container">
	  <div class="col-md-6.col-md-offset-3">
			<form>
				<input type="button" value="login" onclick="window.location.href='/login'" />
			</form>
			<form>
				<input type="button" value="signup" onclick="window.location.href='/signup'" />
			</form>
	  </div>
	</body>
</html>
